/target/
/project/target/
/project/project/
/.cache-main
/.cache-tests
/.classpath
/.project
/Grap3.txt
/Grap4.txt
/nohup.out
/test.out
/test.out.1
/test.out.2
/test.out.3
/test.out.10000
/test.out.10000.sorted
/test.sh
/.idea/
/bin/
/.settings/
